.cnt {
    padding-top: 10px;
}



.favContainer{
    background-color: rgb(17, 12, 12);
    padding-bottom:606px;
    padding-top: 30px;
}

.favTitleContainer{
    padding-top:3px;
    
}

/* .favTitle{
    display: flex;
    justify-content: center; 
    color:white;
} */

h2{
    display: flex;
    justify-content: center; 
    color:white;  
}

ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.favName{
    color:white;

}

.favMovie{
    text-align: center;
    margin:1%;
    max-width: 180px;
    padding:20px;
    
    background-color: rgb(17, 12, 12);
}

.favMoviesContainer{
    display: flex;
    justify-content: center;
}